# This .gitignore file should be placed at the root of your Unity WebGL Build directory

# Custom Folders
**/[Ol]d
/VNData/Localization/

# macOS system files
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows thumbnail cache files
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini

# Rider workspace and configuration files
.idea/
*.[Dd]ot[Ss]ettings

# Visual Studio cache and configuration directories
.vs/
.vsconfig

# VS Code workspace settings and extensions
.vscode/
*.code-workspace