# Optimised for Unity and WebGL Builds

# Normalize line endings
* text=auto
*.cs text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.md text eol=lf
#*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
*.xml text eol=lf

# Unity (With forced text serialization)
*.meta text eol=lf
*.prefab text eol=lf
*.unity text eol=lf
*.asset text eol=lf

# Images
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.ico -text
*.svg text eol=lf

# Audio
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.opus filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text

# Video
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
*.avi filter=lfs diff=lfs merge=lfs -text

# 3D Models
*.fbx filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.dae filter=lfs diff=lfs merge=lfs -text
*.gltf filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text

# Fonts
*.ttf filter=lfs diff=lfs merge=lfs -text
*.otf filter=lfs diff=lfs merge=lfs -text
*.woff filter=lfs diff=lfs merge=lfs -text
*.woff2 filter=lfs diff=lfs merge=lfs -text
*.eot filter=lfs diff=lfs merge=lfs -text

# Addressables Build Output
*.bundle filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.hash text eol=lf

# WebGL Build Output
#*.wasm filter=lfs diff=lfs merge=lfs -text
#*.data filter=lfs diff=lfs merge=lfs -text
#*.unityweb filter=lfs diff=lfs merge=lfs -text

# Documents & Web
*.pdf filter=lfs diff=lfs merge=lfs -text
*.manifest text eol=lf
*.webmanifest text eol=lf

# Unity packages
*.unitypackage filter=lfs diff=lfs merge=lfs -text
