# Optimised for Unity and WebGL Builds

# Normalize line endings
* text=auto
*.cs text eol=lf
#*.json text eol=lf
*.yaml text eol=lf
*.md text eol=lf
#*.js text eol=lf
#*.html text eol=lf
#*.css text eol=lf
#*.xml text eol=lf

# Images
*.png filter=lfs diff=lfs merge=lfs binary
*.jpg filter=lfs diff=lfs merge=lfs binary
*.jpeg filter=lfs diff=lfs merge=lfs binary
#*.webp filter=lfs diff=lfs merge=lfs binary
*.psd filter=lfs diff=lfs merge=lfs binary
*.tga filter=lfs diff=lfs merge=lfs binary
*.tiff filter=lfs diff=lfs merge=lfs binary
*.gif filter=lfs diff=lfs merge=lfs binary
*.ico binary
#*.svg text eol=lf

# Audio
*.mp3 filter=lfs diff=lfs merge=lfs binary
*.wav filter=lfs diff=lfs merge=lfs binary
#*.ogg filter=lfs diff=lfs merge=lfs binary
#*.opus filter=lfs diff=lfs merge=lfs binary
*.flac filter=lfs diff=lfs merge=lfs binary

# Video
*.mp4 filter=lfs diff=lfs merge=lfs binary
*.webm filter=lfs diff=lfs merge=lfs binary
*.mov filter=lfs diff=lfs merge=lfs binary
*.avi filter=lfs diff=lfs merge=lfs binary

# 3D Models
*.fbx filter=lfs diff=lfs merge=lfs binary
*.blend filter=lfs diff=lfs merge=lfs binary
*.obj filter=lfs diff=lfs merge=lfs binary
*.dae filter=lfs diff=lfs merge=lfs binary
*.gltf filter=lfs diff=lfs merge=lfs binary
*.glb filter=lfs diff=lfs merge=lfs binary

# Fonts
*.ttf filter=lfs diff=lfs merge=lfs binary
*.otf filter=lfs diff=lfs merge=lfs binary
*.woff filter=lfs diff=lfs merge=lfs binary
*.woff2 filter=lfs diff=lfs merge=lfs binary
*.eot filter=lfs diff=lfs merge=lfs binary

# Addressables Build Output
#*.bundle filter=lfs diff=lfs merge=lfs binary
#*.bin filter=lfs diff=lfs merge=lfs binary
#*.hash text eol=lf

# WebGL Build Output
#*.wasm filter=lfs diff=lfs merge=lfs binary
#*.data filter=lfs diff=lfs merge=lfs binary
#*.unityweb filter=lfs diff=lfs merge=lfs binary

# Documents & Web
*.pdf filter=lfs diff=lfs merge=lfs binary
#*.manifest text eol=lf
#*.webmanifest text eol=lf

# Unity packages
#*.unitypackage filter=lfs diff=lfs merge=lfs binary
